.container {
    background-image: url('img/bg_1.jpg');
    background-repeat: no-repeat;
    width: 412px;
    height: 900px;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 10px;

}

.box-2 {
    width: 65%;
    height: 5%;
    background-color: white;
    margin-left: 18%;
    margin-top: 80%;
    position: absolute;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    padding-top: 5px;
    
}

.box-2 a {
    text-decoration: none;
    color: black;

}

.box-2 a:hover {
    color: orange;
}

.box-1 {
    width: 95%;
    height: 25%;
    background-color: white;
    margin-left: 2%;
    margin-top: 160%;
    position: absolute;
    border-radius: 10px;
    text-align: center;
    
}